---
---

@import "{{ site.theme }}";

.caption {
    color: #C1C1C1;
    font-style: italic;
    font-size: small;
    text-align: center;
}

.center {
    text-align: center;
}

.current-section {
    left: 13.75%;
    margin-left: 0;
    width: 72.5%;
}

.date {
    color: #C1C1C1;
    font-size: small;
}

.right {
    text-align: right;
}

.wrapper {
    width: 70%;
}

code {
    color: #c53232;
    font-size: 0.8em;
}

img {
    border: 0;
    margin: 0 22.5%;
    width: 55%;
}

table, .markdown-body table {
    width: 100% !important;
    margin: 0 !important;
}

tbody, .markdown-body tbody {
    border: 2px solid #557398 !important;
}

.form b {
    display: block;
    margin-top: 5px;
}

.form input, .form textarea {
    margin: 0 0 0 4px;
    width: 97%;
}

.form button {
    border: solid 2px #222;
    border-radius: 5px;
    background: #eeeeee;
    margin: 5px;
    padding: 0px 5px;
}
