---
---

@import "{{ site.theme }}";

.center {
    text-align: center;
}

.right {
    text-align: right;
}

code {
    color: #c53232;
    font-size: 0.8em;
}

#contrib-md b {
    width: 100px;
}